#root {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100svh;
}

@media (max-width: 768px) {
  #root {
    margin: 0 5%;
  }
}

@media (max-width: 480px) {
  #root {
    margin: 0 2.5%;
  }
}
